    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="{{ "/js/jquery-1.12.3.min.js" | relURL }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | relURL }}"></script>
    <script src="{{ "/js/isotope.pkgd.min.js" | relURL }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
    <script src="{{ "/js/hugo-academic.js" | relURL }}"></script>
    {{ range .Site.Params.custom_js }}
    <script src="{{ "/js/" | relURL }}{{ . }}"></script>
    {{ end }}

    <!-- Code highlighting -->
    {{ if $.Scratch.Get "highlight_enabled" }}
      {{ $v := .Site.Params.highlight_version | default "9.9.0" }}
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/highlight.min.js"></script>

      {{ range .Site.Params.highlight_languages }}
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/languages/{{ . }}.min.js"></script>
      {{ end }}

      {{ range .Params.highlight_languages }}
      {{/* Do not double-include languages that are in both .Site.Params and .Params.
           If Hugo ever grows a "union" function for set union, this range clause can be merged with the one above. */}}
        {{ if not (in $.Site.Params.highlight_languages .) }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/languages/{{ . }}.min.js"></script>
        {{ end }}
      {{ end }}

      <script>hljs.initHighlightingOnLoad();</script>
    {{ end }}

    <!-- LaTeX math rendering -->
    {{ if or .Params.math .Site.Params.math }}

    <link rel="stylesheet" href="{{ "/katex/katex.min.css" | relURL }}">
    <script src="{{ "/katex/katex.min.js" | relURL }}"></script>
    
    <script src="{{ "/js/auto-render.min.js" | relURL }}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/contrib/auto-render.min.js" integrity="sha384-cXpztMJlr2xFXyDSIfRWYSMVCXZ9HeGXvzyKTYrn03rsMAlOtIQVzjty5ULbaP8L" crossorigin="anonymous"></script> -->
    
    <script>
      renderMathInElement(document.body);
    </script>
    <!-- <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script> -->
    <!-- <script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script> -->
    <!-- <script async src="{{ "/MathJax-2.7.2/MathJax.js?config=TeX-AMS_CHTML" | relURL }}"></script> -->
    {{ end }}

  </body>
</html>
