<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>

  <script type="text/javascript">
      if (location.protocol != 'https:')
      {
        var newurl = 'https:' + window.location.href.substring(window.location.protocol.length);
        window.location.replace(newurl);
      }
      
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme" content="hugo-academic">
  {{ .Hugo.Generator }}
  {{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
  {{ with .Site.Params.role }}<meta name="description" content="{{ . }}">{{ end }}

  {{/* Default to enabling highlighting, but allow the user to override it in .Params or .Site.Params.
       Use $.Scratch to store "highlight_enabled", so that we can read it again in footer.html. */}}
  {{ $.Scratch.Set "highlight_enabled" true }}
  {{ if isset .Params "highlight" }}
    {{ $.Scratch.Set "highlight_enabled" .Params.highlight }}
  {{ else if isset .Site.Params "highlight" }}
    {{ $.Scratch.Set "highlight_enabled" .Site.Params.highlight }}
  {{ end }}
  {{ if $.Scratch.Get "highlight_enabled" }}
    {{ $v := .Site.Params.highlight_version | default "9.9.0" }}
    {{ with .Site.Params.highlight_style }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/styles/{{ . }}.min.css">
    {{ else }}
    <link rel="stylesheet" href="{{ "/css/highlight.min.css" | relURL }}">
    {{ end }}
  {{ end }}
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relURL }}">
  <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | relURL }}">
  <link rel="stylesheet" href="{{ "/css/academicons.min.css" | relURL }}">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMerriweather%7CRoboto+Mono">
  
  <!-- <link rel="stylesheet" href="{{ "/css/gfonts.css" | relURL }}"> -->
  <link rel="stylesheet" href="{{ "/css/hugo-academic.css" | relURL }}">
  {{ range .Site.Params.custom_css }}
  <link rel="stylesheet" href="{{ "/css/" | relURL }}{{ . }}">
  {{ end }}

  <link rel="alternate" href="{{ .RSSLink | default .Site.RSSLink  }}" type="application/rss+xml" title="{{ .Site.Title }}">
  <link rel="feed" href="{{ .RSSLink | default .Site.RSSLink }}" type="application/rss+xml" title="{{ .Site.Title }}">

  <link rel="icon" type="image/png" href="{{ "/img/icon.png" | relURL }}">
  <link rel="apple-touch-icon" type="image/png" href="{{ "/img/apple-touch-icon.png" | relURL }}">

  <link rel="canonical" href="{{ .Permalink }}">

  {{ partial "head_custom" . }}

  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

</head>
<body id="top" data-spy="scroll" data-target="#navbar-main" data-offset="71">
