<li itemscope itemtype="http://schema.org/CreativeWork">
  <i class="fa-li fa fa-file-text-o pub-icon" aria-hidden="true"></i>
  <span itemprop="name"><i>{{ .Title }}</i> in <b>{{ .Params.publication_short }}</b></span>
  <p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
  </p>
</li>
